.profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Makes the image round */
    object-fit: cover;  /* Ensures the image covers the container without stretching */
    border: 4px solid white; /* Optional: adds a white border around the image */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adds shadow to give a floating effect */
  }
  
  .profileImagePlaceholder {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #e0e0e0; /* Light gray color as a placeholder */
    display: inline-block;
  }
  